@using pizzeria_crud_refactoring.Models;
@model Pizza


<h2>Dettagli lato admin</h2>

<div class="my-5 mx-auto">
    <p>ID: @Model.Id</p>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>Price: $@Model.Price</p>
    <img width="200" src="@Model.Photo" />

    <div>
        <strong>Categoria:</strong>
        @if (Model.CategoryId != null)
        {
            <p>@Model.Category.Name </p>
        }
        else
        {
            <p>Nessuan categoria associata</p>
        }
    </div>

    <div>
        <strong>Ingredienti:</strong>

        @if (Model.Ingredients.Count > 0)
        {
            <ul>
                @foreach (Ingredient ing in Model.Ingredients)
                {

                    <li>@ing.Name </li>
                }

            </ul>
        }
        else
        {
            <p>Nessuan Ingredienti </p>
        }
    </div>
</div>

<a class="btn btn-success" asp-action="Index" asp-controller="Home">Torna indietro va</a>