﻿@using pizzeria_crud_refactoring.Models
@model List<Pizza>

<section class="my-5">
    <p>Ciao Ospite Ecco le pizze</p>
    @if (Model.Count() > 0)
    {

        <div class="my-5 container">
            <div class="row">
                <div class="row row-cols-3 g-4">
                    @foreach (Pizza pizza in Model)
                    {
                        <div class="col">
                            <div class="card h-100">
                                <img src="@pizza.Photo" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">@pizza.Name</h5>
                                    <p class="card-text">@pizza.Description</p>
                                    <p class="card-text">@pizza.Price €</p>
                                    <div class="card-footer">
                                        <a asp-action="Details" asp-controller="Home" asp-route-id="@pizza.Id" class="btn btn-primary">Dettagli</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Siamo spiacenti ma sto ristorante nn c ha manco na pizza</h1>
    }
</section>